@import '../../assets/styles/sizes';
@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

.titleHero {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 70px;
  padding-top: 200px;
  font-size: 26px;
  @include font-heading;
  @include media-s {
    padding-top: 250px;
    width: 380px;
  }
  @include media-m {
    padding-top: 360px;
  }
}

.textHero {
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: $size7;
  text-align: center;
  text-align: center;
  @include font-bodying;
  @include media-s {
    width: 380px;
  }
}

.hero {
  // position: relative;
  // z-index: 2;
  background-image: url('../../assets/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 70px;
  color: $color-white;
  font-family: Times New Roman;
  @include media-s {
    padding-bottom: 88px;
  }
  @include media-m {
    height: 750px;
    padding-bottom: 163px;
  }
}
// .bgHero {
//   position: absolute;
//   inset: 0;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url("../../assets/img/bg-hero-mobile.jpg");
//   @include media-s {
//     background-image: url("../../assets/img/bg-hero-s.jpg");
//   }
//   @include media-m {
//     background-image: url("../../assets/img/bg-hero-m.jpg");
//   }
//   @include media-l {
//     background-image: url("../../assets/img/bg-hero-l.jpg");
//     width: 2560px;
//     left: 694px;
//   }
// }

// margin: 0;
// background: yellow;
// position: absolute;
// top: 50%;
// left: 50%;
// margin-right: -50%;
// transform: translate(-50%, -50%)
