@import '../../assets/styles/sizes';
@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

.titleHero {
  padding-bottom: 21px;
  padding-top: $size8;
  margin: 0 auto;
  font-size: $size8;
  text-align: center;
  color: $color-white;
  @include font-heading;
  @include media-s {
    padding-top: 90px;
    width: 380px;
  }
  @include media-m {
    padding-top: 164px;
  }
}

.textHero {
  margin: 0 auto;
  padding-bottom: $size7;
  text-align: center;
  color: $color-white;
  text-align: center;
  @include font-bodying;
  @include media-s {
    width: 380px;
  }
}

.hero {
  position: relative;
  z-index: 2;
  padding-bottom: 70px;
  @include media-s {
    padding-bottom: 88px;
  }
  @include media-m {
    padding-bottom: 163px;
  }
}
// .bgHero {
//   position: absolute;
//   inset: 0;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url("../../assets/img/bg-hero-mobile.jpg");
//   @include media-s {
//     background-image: url("../../assets/img/bg-hero-s.jpg");
//   }
//   @include media-m {
//     background-image: url("../../assets/img/bg-hero-m.jpg");
//   }
//   @include media-l {
//     background-image: url("../../assets/img/bg-hero-l.jpg");
//     width: 2560px;
//     left: 694px;
//   }
// }
